@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main-color: '#F5F8FB';
}

router-outlet + * {
   display: flex;
   flex-direction: column;
   flex: 1;
}


router-outlet + * > div{
    flex: 1;
 }